* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  background-color: #464646;
  width: 100vw;
  height: 50px;
  position: fixed;
  z-index: 22;
}

.icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.title {
  margin-right: 10em;
}

.nav-title {
  color: white;
  font-family: Endor Alt;
  font-size: 50px;
}

.links {
  color: white;
  font-family: Endor Alt;
  font-size: 20px;
}

.links > h2 {
  margin-right: 15px;
}

.links > h2 > a {
  color: white;
  text-decoration: none;
}

.links > h2 > a:hover {
  color: rgb(202, 202, 202);
  text-decoration: underline;
}

.landing-img {
  width: 100%;
  height: 55em;
  color: antiquewhite;
  background: url(./assets/Image_Assets/Floating_Island.png);
  background-size: cover;
  background-position: center;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-body {
  background: url(./assets/Image_Assets/background.jpg);
  background-size: contain;
  text-align: center;
  padding: 20px;
  overflow: hidden;
}

.torn-paper {
  background: url(./assets/Image_Assets/torn-old-paper-banner-10.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px 50px;
  width: 30em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.torn-paper > h2 {
  font-family: Endor Alt;
  font-size: 50px;
  margin: 10px 0px;
  padding-bottom: 5px;
  border-bottom: solid black 3px;
  border-top: solid black 3px;
}

.torn-paper > p {
  font-family: Adler;
  font-size: 15px;
}

.status {
  background: #121e1e;
  font-family: Endor Alt;
  color: white;
  width: 125px;
  height: 35px;
  border-radius: 5px;
  transform: translateX(474px) rotate(-5deg) translateY(-13px);
}

.book {
  margin-top: 10px;
  background: url(./assets/Image_Assets/book-cover.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 37em;
  height: 27em;
}

.page {
  background: url(./assets/Image_Assets/paper6.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 35em;
  height: 26em;
  margin-bottom: 5px;
}

.leaf-5 {
  width: 250px;
  height: 250px;
  transform: rotate(-45deg) translateY(524px) translateX(98px);
}

.leaf-22 {
  width: 300px;
  height: 200px;
  transform: rotate(-56deg) translateY(-431px) translateX(-136px);
}

.sand > img {
  width: 300px;
  height: 120px;
  transform: translateX(-100px);
}

.clipboard {
  margin-top: 65px;
  margin-right: 0px;
  width: 37em;
  height: 38em;
}

.paper-page {
  background: url(./assets/Image_Assets/old_paper.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 24em;
  height: 35em;
  padding: 15px;
  transform: translateX(150px);
}

.paper-page > p {
  font-family: Adler;
  font-size: 15px;
  color: #2a1500;
  transform: translateY(400px);
  line-height: 24px;
}

.paper-clip-page-background {
  background: url(./assets/Image_Assets/Floating_Island.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 19em;
  height: 19em;
  transform: translateY(-616px) translateX(290px);
  z-index: 0;
}

.paper-clip-page {
  background: url(./assets/Image_Assets/photo3.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 34em;
  height: 26em;
  transform: translateY(-972px) translateX(78px);
  z-index: 1;
}

.info-board {
  padding: 15px;
  transform: translateY(-1366px);
  background: #121e1e;
  border-radius: 5px;
  height: 25em;
  width: 16em;
}

.info-board > h2 {
  font-family: Endor Alt;
  color: white;
  font-size: 60px;
  margin-bottom: 30px;
}

.info-board > p {
  font-family: Adler;
  font-size: 15px;
  color: white;
}

.coffee-stains {
  transform: translateY(-200px);
}

.stain-1 {
  background: url(./assets/Image_Assets/4-coffee-splash-splatter-3.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 10em;
  height: 10em;
  transform: translateX(-60px);
}

.stain-2 {
  background: url(./assets/Image_Assets/4-coffee-splash-splatter-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 14em;
  height: 11em;
  transform: translateY(180px) translateX(-139px);
}

.stain-3 {
  background: url(./assets/Image_Assets/4-coffee-splash-splatter-2.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 15em;
  height: 10em;
  transform: translateY(122px);
}

.about > h2 {
  font-family: Endor Alt;
  color: white;
  font-size: 80px;
  margin-bottom: 30px;
}

.about > p {
  font-family: Adler;
  font-size: 15px;
  line-height: 24px;
  color: white;
}

.about {
  background: #666666;
  border-radius: 5px;
  padding: 10px;
  width: 20em;
  height: 30em;
  transform: translateX(290px);
}

.coffee-ring {
  background: url(./assets/Image_Assets/coffee-stain-2-6.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 30em;
  height: 18em;
  transform: translateY(-460px);
}

.about-div {
  transform: translateY(-70px);
  height: 32em;
}

.communication {
  background: #121e1e;
  width: 30em;
  height: 15em;
  transform: translateX(80px);
}

.communication > h2 {
  font-family: Endor Alt;
  color: white;
  font-size: 80px;
  margin-bottom: 30px;
}

.communication > p {
  font-family: Adler;
  font-size: 23px;
  line-height: 24px;
  color: white;
}

.card-1 {
  background: url(./assets/Image_Assets/old_paper.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 10em;
  height: 13em;
  transform: rotateZ(-15deg);
}
.card-2 {
  background: url(./assets/Image_Assets/old_paper.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 10em;
  height: 13em;
  transform: rotateZ(5deg);
}
.card-3 {
  background: url(./assets/Image_Assets/old_paper.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 10em;
  height: 13em;
  transform: rotateZ(15deg);
}

.top-cards {
  margin-bottom: 25px;
}

.bottem-cards {
  margin-top: 25px;
}

.card-1 > h1 {
  transform: translate(-15px, 145px);
  font-family: Adler;
  font-size: 12px;
  line-height: 45px;
  color: #2a1500;
  align-items: center;
  z-index: 1;
}

.card-2 > h1 {
  transform: translate(-15px, 145px);
  font-family: Adler;
  font-size: 12px;
  line-height: 45px;
  color: #2a1500;
  align-items: center;
  z-index: 1;
}

.card-3 > h1 {
  transform: translate(-15px, 145px);
  font-family: Adler;
  font-size: 12px;
  line-height: 45px;
  color: #2a1500;
  align-items: center;
  z-index: 1;
}

.paper-back {
  background: url(../Knights-Defense-Site/assets/Image_Assets/photo1.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  width: 105%;
  height: 105%;
  transform: translate(0px, -47px);
}

.paper-back > img {
  width: 70px;
  height: 70px;
  transform: translate(-25px, 40px);
}
.documentation {
  transform: translateY(-340px);
}

.doc-info {
  padding: 15px;
  transform: translateY(0px);
  background: #121e1e;
  border-radius: 5px;
  height: 25em;
  width: 16em;
  transform: translate(340px, -570px) rotate(-5deg);
}

.doc-info > h2 {
  font-family: Endor Alt;
  color: white;
  font-size: 50px;
  margin-bottom: 30px;
}

.doc-info > p {
  font-family: Adler;
  font-size: 12px;
  line-height: 25px;
  color: white;
}

.doc-header {
  padding: 15px;
  background: #666666;
  border-radius: 5px;
  height: 25em;
  width: 16em;
  width: 125px;
  height: 35px;
  border-radius: 5px;
  transform: translateX(45px) translateY(10px);
}

.doc-header > h1 {
  font-family: Endor Alt;
  color: white;
  font-size: 50px;
  margin-bottom: 30px;
  transform: translate(0px, -9px);
}

.map-book {
  background: url(../Knights-Defense-Site/assets/Image_Assets/paper9.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 40em;
  height: 30em;
  transform: translateY(260px) rotate(5deg);
}

.script-paper {
  background: url(./assets/Image_Assets/old_paper.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 21em;
  height: 30em;
  transform: translate(260px, 1120px);
}

.script-paper > img {
  width: 18em;
  height: 18em;
  transform: translate(0px, 125px);
}

.vingett{
  content: '';
    /* position: absolute; */
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 280px 230px rgba(0,0,0,0.8)
}
