* {
  margin: 0px;
  padding: 0px;
}

.navbar {
  background-color: #464646;
  width: 100vw;
  height: 50px;
  position: fixed;
  z-index: 22;
}

.icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.title {
  margin-right: 10em;
}

.nav-title {
  color: white;
  font-family: Endor Alt;
  font-size: 50px;
}

.links {
  color: white;
  font-family: Endor Alt;
  font-size: 20px;
}

.links > h2 {
  margin-right: 15px;
}

.links > h2 > a {
  color: white;
  text-decoration: none;
}

.links > h2 > a:hover {
  color: rgb(202, 202, 202);
  text-decoration: underline;
}

.landing-img {
  width: 100vw;
  height: 55em;
  color: antiquewhite;
  /* background: url(./assets/Image_Assets/Floating_Island.png); */
  background-size: cover;
  background-position: center;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-body {
  text-align: center;
  padding: 20px;
}

.torn-paper {
  background: url(./assets/Image_Assets/torn-old-paper-banner-10.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px 50px;
  width: 30em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.torn-paper > h2 {
  font-family: Endor Alt;
  font-size: 50px;
  margin: 10px 0px;
  padding-bottom: 5px;
  border-bottom: solid black 3px;
  border-top: solid black 3px;
}

.torn-paper > p {
  font-family: Adler;
  font-size: 15px;
}

.status {
  background: #121e1e;
  font-family: Endor Alt;
  color: white;
  width: 125px;
  height: 35px;
  border-radius: 5px;
  transform: translateX(474px) rotate(-5deg) translateY(-13px);
}

.book {
  margin-top: 10px;
  background: url(./assets/Image_Assets/book-cover.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 37em;
  height: 27em;
}

.page {
  background: url(./assets/Image_Assets/paper6.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 35em;
  height: 26em;
  margin-bottom: 5px;
}

.leaf-5 {
  width: 250px;
  height: 250px;
  transform: rotate(-45deg) translateY(524px) translateX(98px);
}

.leaf-22 {
  width: 300px;
  height: 200px;
  transform: rotate(-56deg) translateY(-431px) translateX(-136px);
}

.clipboard {
  margin-top: 180px;
  margin-right: 0px;
  width: 37em;
  height: 38em;
}

.paper-page {
  background: url(./assets/Image_Assets/old_paper.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 24em;
  height: 35em;
  padding: 15px;
  transform: translateX(150px);
}

.paper-page > p {
  font-family: Adler;
  font-size: 15px;
  color: #2a1500;
  transform: translateY(435px);
}

.paper-clip-page-background {
  background: url(./assets/Image_Assets/Floating_Island.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 19em;
  height: 19em;
  transform: translateY(-616px) translateX(290px);
  z-index: 0;
}

.paper-clip-page {
  background: url(./assets/Image_Assets/photo3.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 34em;
  height: 26em;
  transform: translateY(-972px) translateX(78px);
  z-index: 1;
}

.info-board {
  padding: 15px;
  transform: translateY(-1366px);
  background: #121e1e;
  border-radius: 5px;
  height: 25em;
  width: 16em;
}

.info-board > h2 {
  font-family: Endor Alt;
  color: white;
  font-size: 60px;
  margin-bottom: 30px;
}

.info-board > p {
  font-family: Adler;
  font-size: 15px;
  color: white;
}
